:root {
    --white: rgb(255, 255, 255);
    --main-purple: rgb(99, 95, 199);
    --bg-grey: rgb(244, 247, 253);
    --medium-grey: rgb(130, 143, 163);
    --dim: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}